* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  // Primary

  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  // Neutral

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  // Typography
  --font-size-quote: 2.8rem;
  --font-family: 'Manrope', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  background-color: var(--dark-blue);
  font-family: var(--font-family);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button {
  background-color: var(--neon-green);
}

li {
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  color: white;
}
.attribution a {
  // color: hsl(228, 45%, 44%);
  color: var(--neon-green);
}
